.wbdv-Profile-page{
    font-family: "Times New Roman";
    color: dodgerblue;
}

.wbdv-username{
    font-family: "Times New Roman";
}

.wbdv-phone{
    font-family: "Times New Roman";
}

.wbdv-email{
    font-family: "Times New Roman";
}

.wbdv-role{
    font-family: "Times New Roman";
}

.wbdv-dob{
    font-family: "Times New Roman";
}

.wbdv-update{
    font-family: "Times New Roman";
}

.wbdv-logout{
    font-family: "Times New Roman";
}

.wbdv-message{
    font-family: "Times New Roman";
    padding-bottom: 1em;
}