.wbdv-signup-page{
    font-family: "Times New Roman";
    color: dodgerblue;
}

.wbdv-username{
    font-family: "Times New Roman";
}

.wbdv-password{
    font-family: "Times New Roman";
}

.wbdv-password-verify{
    font-family: "Times New Roman";
}

.wbdv-register{
    font-family: "Times New Roman";
}

.wbdv-login{
    font-family: "Times New Roman";
}